Here are a few commands to help get you started:

{{#commands}}
{{#category}}
[bold]{{{category}}}[/bold]
{{/category}}
{{#command}}
{{{command}}} -- [italic]{{{description}}}[/italic]
{{/command}}
{{#isBlank}}

{{/isBlank}}
{{/commands}}
